<!DOCTYPE html>

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div class="hack-card mt-3" *ngFor="let hackathon of hackathons">

        <div class="pic">
            <img src="{{hackathon.universityPicture}}">
        </div>
        <div class="content" [routerLink]="['/hackathon/' + hackathon.title]">
            <div id="hack-name">
                <h1> {{hackathon.title}}</h1>
            </div>
            <div class="hack-details">
                <div class="hack-in" id="location">
                    <img src="./../../assets/locationicon.png">
                    <h6> {{hackathon.location}} </h6>
                </div>
                <div class="hack-in" id="size">
                    <img src="./../../assets/peopleicon.png">
                    <h6> 200-400 people </h6>
                </div>
                <div class="hack-in" id="date">
                    <img src="./../../assets/calendaricon.png">
                    <h6> {{hackathon.startDay | date}} </h6>
                </div>
            </div>
        </div>
        <div class="going">
            <button id="going-btn" (click)="going(hackathon)"> GOING </button>
        </div>
    </div>
</body>

</html>