<!DOCTYPE html>

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div class="hack-card" *ngFor="let hackathon of hackathons">
        <div class="pic">
            <img src="{{hackathon.universityPicture}}">
        </div>
        <div class="content">
            <div id="hack-name">
                <h1> {{hackathon.title}}</h1>
            </div>
            <div class="hack-details">
                <div class="hack-in" id="location">
                    <img src="./../../assets/locationicon.png">
                    <h4> {{hackathon.location}} </h4>
                </div>
                <!-- <div class="hack-in" id="size">
                    <img src="./../../assets/peopleicon.png">
                    <h4> Size </h4>
                </div> -->
                <div class="hack-in" id="date">
                    <img src="./../../assets/calendaricon.png">
                    <h4> {{hackathon.startDate | date}} </h4>
                </div>
            </div>
        </div>
        <div class="going">
            <button id="going-btn" (click)="going(hackathon)"> GOING </button>
        </div>
    </div>
</body>

</html>