<!DOCTYPE html>

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>
    <div class="nav-container">
        <div class="left-cont">
            <img class="icon" src="../../assets/hackerfinderlogo.png" [routerLink]="['']">
            <a class="about-link" [routerLink]="['about']"> About </a>
        </div>
        <div class="right-cont" *ngIf="!isLoggedIn()">
            <button id="log-btn" class="nav-btn" [routerLink]="['user/login']"> LOGIN </button>
            <button id="sign-btn" class="nav-btn" [routerLink]="['user/signup']"> SIGN UP </button>
        </div>
        <div class="right-cont" *ngIf="isLoggedIn()">
            <button id="hack-btn" class="menu-btn" [routerLink]="['home/']"> HACKATHONS </button>
            <button id="mess-btn" class="menu-btn" [routerLink]="['home/messages/']"> MESSAGES </button>
            <button id="signout-btn" class="menu-btn" [routerLink]="['']" (click)="logout()"> LOG OUT </button>
            <button id="profile-btn" class="nav-btn" [routerLink]="['home/user/profile']"> MY PROFILE </button>
        </div>
    </div>
</body>

</html>