<!DOCTYPE html>

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>
    <div class="nav-container">
        <div class="left-cont">
            <img class="icon" src="">
            <a class="about-link" href=""> About </a>
        </div>
        <div class="right-cont">
            <button id="log-btn" class="nav-btn" href=""> LOGIN </button>
            <button id="sign-btn" class="nav-btn" href=""> SIGN UP </button>
        </div>
    </div>
</body>

</html>