<!DOCTYPE html>

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>
    <div class="nav-container">
        <div class="left-cont">
            <img class="icon" src="" [routerLink]="['']">
            <a class="about-link" href=""> About </a>
        </div>
        <div class="right-cont" *ngIf="!isLoggedIn()">
            <button id="log-btn" class="nav-btn" [routerLink]="['user/login']"> LOGIN </button>
            <button id="sign-btn" class="nav-btn" [routerLink]="['user/signup']"> SIGN UP </button>
        </div>
        <div class="right-cont" *ngIf="isLoggedIn()">
            <button class="nav-btn" [routerLink]="['home/']"> HACKATHONS </button>
            <button class="nav-btn" [routerLink]="['home/messages']"> MESSAGES </button>
            <button class="nav-btn" [routerLink]="['user/profile']"> MY PROFILE </button>
        </div>
    </div>
</body>

</html>