<!DOCTYPE html>
<!--GOES INTO HACKATHON INFORMATION PAGE-->

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>

    <div class="person-info" *ngFor="let user of goingUsers">
        <div class="propic">
            <img src="">
        </div>
        <div class="content">
            <h3 id="name"> {{user.firstName}} {{user.lastName}} </h3>
            <div id="bio">
                <p id="bio-text"> {{user.bio}} </p>
            </div>
        </div>
        <div class="buttons">
            <button id="message" (click)="connect(user)"> CONNECT </button>
            <button id="view"> VIEW </button>
        </div>
    </div>

</body>

</html>