<!DOCTYPE html>

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div *ngFor="let hackathon of interestedHackathons" class="container">
        <div class="hack-img">
            <img id="hack-img" src="{{hackathon.picture}}">
        </div>
        <div class="hack-info">
            <div class="hack-name" id="hack-name">
                <h3> {{hackathon.title}}</h3>
            </div>
            <div class="info-btn">
                <button id="hack-page" href=""> VIEW MORE </button>
            </div>
        </div>
    </div>

</body>

</html>