<!DOCTYPE html>

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div *ngFor="let hackathon of interestedHackathons" class="container mt-3">
        <div class="hack-img mr-auto">
            <img id="hack-img" src="{{hackathon.universityPicture}}">
        </div>
        <div class="hack-info">
            <div class="hack-name" id="hack-name">
                <h3> {{hackathon.title}}</h3>
            </div>
            <div class="info-btn ml-auto">
                <button id="hack-page" [routerLink]="['/hackathon/' + hackathon.title]"> VIEW MORE </button>
            </div>
        </div>
    </div>

</body>

</html>