<div class="container mt-5">
    <div class="col-md-4 mx-auto">
        <form [formGroup]="signupForm" (ngSubmit)="onSignup()" novalidate>

            <div class="form-group">
                <label for="firstName">Enter First Name:</label>
                <input type="text" id="firstName" class="form-control" formControlName="firstName">
                <small [hidden]="signupForm.controls.firstName.valid || !signupForm.controls.firstName.dirty" class="text-danger">
                Invalid first name
                </small>
            </div>

            <div class="form-group">
                <label for="lastName">Enter Last Name:</label>
                <input type="text" id="lastName" class="form-control" formControlName="lastName">
                <small [hidden]="signupForm.controls.lastName.valid || !signupForm.controls.lastName.dirty" class="text-danger">
                Invalid last name
                </small>
            </div>

            <div class="form-group">
                <label for="email">Enter Unique Email:</label>
                <input type="email" id="email" class="form-control" formControlName="email">
                <small [hidden]="signupForm.controls.email.valid  || !signupForm.controls.email.dirty" class="text-danger">
                Invalid email address
                </small>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" class="form-control" formControlName="password">
                <small [hidden]="signupForm.controls.password.valid || !signupForm.controls.password.dirty" class="text-danger">
                Invalid password
                </small>
            </div>


            <div class="form-group">
                <label for="password">Re-enter Password:</label>
                <input type="password" id="re_password" class="form-control" formControlName="re_password">
                <small [hidden]="signupForm.controls.re_password.valid || !signupForm.controls.re_password.dirty" class="text-danger">
                Invalid re-entered password
                </small>
            </div>

            <div class="form-group">
                <label for="school">Where do you go to school? (Leave empty if you're not a student):</label>
                <input type="text" id="school" class="form-control" formControlName="school">
                <small [hidden]="signupForm.controls.school.valid || !signupForm.controls.school.dirty" class="text-danger">
                Invalid school
                </small>
            </div>

            <div class="form-group">
                <label for="skills">List all of your skills seperated by commas (ex. Angular 2, Python, Wireframing, etc):</label>
                <input type="text" id="skills" class="form-control" formControlName="skills">
                <small [hidden]="signupForm.controls.skills.valid || !signupForm.controls.skills.dirty" class="text-danger">
                Invalid skills
                </small>
            </div>

            <div class="form-group">
                <label for="picture">Link a url of a picture of yourself (optional):</label>
                <input type="url" id="picture" class="form-control" formControlName="picture">
                <small [hidden]="signupForm.controls.picture.valid || !signupForm.controls.picture.dirty" class="text-danger">
                Invalid url of picture
                </small>
            </div>

            <button type="submit" value="submit" class="btn btn-block btn-primary" [disabled]="!signupForm.valid">Sign Up</button>
            <small [hidden]="signupForm.valid" class="text-danger">
                Not valid yet... make sure your passwords match!
            </small>

        </form>

    </div>
</div>