/*Main page scss*/
@import "variables";


body {
	font-family: $main-font;
	background-color: $grey;
	div {
		background-color: white;
	}
	.filter {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		border: 2px solid black;
		border-radius: 5px;
		width: 642px;
		height: 100px;
		padding: 2px;
		margin-bottom: 50px;
		position: absolute;
		top: 80px;
		margin-left: 13vw;
	}
	.hackathons {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		border: 2px solid black;
		border-radius: 5px; 
		width: 642px;
		height: 500px;
		position: absolute;
		top: 220px;
		margin-left: 13vw;
	}
	.going {
		display: flex;
		justify-content: space-evenly;
		border: 2px solid black;
		border-radius: 5px; 
		width: 302px;
		height: 500px;
		left: 65vw;
		top: 80px;
		padding: 2px;
		position: absolute;

	}
}