/*person details component */

body {
	.person-detail {
		background-color: white;
		display: flex;
		height: 500px;
		width: 648px; 
		padding: 5px;
		border: 3px solid black;
		border-radius: 5px;
		position: absolute;
		top: 672px;
		margin-left: 24.5vw;
	}
}