<!DOCTYPE html>

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>

    <div class="filter">
        <div class="container">
            <div class="label">
                <h3> FILTER <br> RESULTS</h3>
            </div>
            <div class="filters">
                <div class="filter-set">
                    <button class="dropbtn" id="filt1">Filter1</button>
                    <div class="dropdown-content" id="drop1">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="filter-set">
                    <button class="dropbtn" id="filt2">Filter2</button>
                    <div class="dropdown-content" id="drop2">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="filter-set">
                    <button class="dropbtn" id="filt3">Filter3</button>
                    <div class="dropdown-content" id="drop3">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="hackathons">

    </div>
    <div class="going">
        <div class="label">
            <h3> My Hackathons </h3>
        </div>
    </div>

</body>

</html>